<%# <%= form_for @list do |f| %1> %>
<%#   <% if list.errors.any? %1> %>
<%#     <div id="error_explanation"> %>
<%#       <h2><%= pluralize(list.errors.count, "error") %1> prohibited this list from being saved:</h2> %>
<%#       <ul> %>
<%#       <% list.errors.full_messages.each do |message| %1> %>
<%#         <li><%= message %1></li> %>
<%#       <% end %1> %>
<%#       </ul> %>
<%#     </div> %>
<%#   <% end %1> %>

<%#   <div class="field"> %>
<%#     <%= f.label :title %1> %>
<%#     <%= f.text_field :title %1> %>
<%#   </div> %>

<%#   <div class="actions"> %>
<%#     <%= f.submit %1> %>
<%#   </div> %>
<%# <% end %1> %>
