<div class="callout">
    <h4>New List</h4>
    <%= form_for(@list) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
            <%= f.text_field :title, placeholder: "Todo list title" %>
            <%= f.text_area :description, placeholder: "Add description..." %>
            <%= f.check_box :status %>
            <span>Private</span>
        </div>
        <%= f.submit "Create", class: "button" %>
    <% end %>
</div>
